
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/zig-csv"]
	path = deps/zig-csv
	url = https://github.com/beho/zig-csv.git
[submodule "deps/ZT"]
	path = deps/ZT
	url = https://github.com/JonSnowbd/ZT.git
